force-app/main/default/flows/Prevention_Of_Duplication_Of_Speaker_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_Event_have_already_exist_same_Speaker</name>
        <label>Check Event have already exist same Speaker</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Not Speaker Exist</defaultConnectorLabel>
        <rules>
            <name>Speaker_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetching_Event_Speaker_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating</targetReference>
            </connector>
            <label>Speaker Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Prevention Of Duplication Of Speaker Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prevention Of Duplication Of Speaker Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetching_Event_Speaker_Record</name>
        <label>Fetching Event Speaker Record</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Event_have_already_exist_same_Speaker</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Event__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Speaker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Speaker__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event_Speaker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updating</name>
        <label>Updating</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Duplication_Record_Chk__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetching_Event_Speaker_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Speaker__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Event_Speaker__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
